@CHARSET "UTF-8";
* {
    padding: 0;
    margin: 0;
    font-family: "Microsoft Yahei";
}
.bg{
	background-color:#fbfafa;
    margin-height:100%;
}
#head{
	color:#edecec;
	width:100%;
	height:136px;
	background-color:white;
}
#foot{
	width:100%;
	height:250px;
	color:#333;
	font-size: 18px;
	font-weight: 100;
	background-color:#edecec;
	border-top:#f23d4e 8px solid;
	clear:both;
}
.bfoot{
	float:right;
	width:100%;
	height:100px;
	color:#FFF;
	font-size: 18px;
	font-weight: 100;
	background-color:#333;
	text-align:center;
}

.footldiv{
	float:left;
	margin-top:30px; 
	margin-left:50px;
	color:#333;
}
.footrdiv{
	float:left;
	margin-top:15px; 
	margin-left:200px;
}
.footrdiv tr{
	margin-left:5px;
	height:50px;
	color:#333;
}

.fldiv{
	overflow: hidden;
	float:left;
	margin-top:8px; 
	margin-left:8px;
}
.frdiv{
	float:right;
	margin-right:10px;
}
.tstyle{
	padding-left:10px;
	padding-top:10px;
	width:5%;
	
}
.ftstyle {
	border-left:#333 1px solid;
}


a{
	color:#333;
    text-decoration:none;
}
.nav{
	list-style:none; 
	height:30px;
	margin-top:40px; 
	padding-left:200px;
}
.nav li{
	float:left;
}
.nav li a{
	cursor: pointer;
	color:#e4e4e4;
	display:block; 
	height:35px;
	text-align:center; 
	line-height:35px; 
	width:120px; 
	background:#f23d4e ; 
	margin-left:1px;
}
.nav li a.on, .nav li a:hover{
	background:#f9485a;
	color:#FFF; 
	height:45px; 
	line-height:45px; 
	margin-top:-10px; 
}

.wen{
	width:500px;
	height:40px;
	border:solid #f9485a thin;
	color:#666;
	font-size:16px;
	font-family:"宋体";
	border-radius:6px;
	/*background-image:url(../img/search-icon.png);*/
	
}

.searchBox{
	width:100%;
	height:60px;
	margin-top:20px;
	
}
hr{/*分割线*/
    width: 1220px;
    margin:0px auto 10px auto;
    border:none;
    border-top:solid #CCC thin;
    position: relative;
}
.leftnavi{
	width:100%;
	height:350px;
	text-align:center;/*内容居中条件*/
}
